@use "../../scss/" as *;

.form-group {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    position: relative;
    margin-bottom: 1.6rem;

    input {
        width: 100%;
        border-radius: 0;
        padding: 0.5rem 0;
        color: black;
        font-weight: 500;

        &:focus ~ label,
        &:valid ~ label {
            top: -16px;
            color: rgb(32, 221, 250);
            font-size: 0.9rem;
        }
    }
    label {
        position: absolute;
        top: 0;
        left: 0;
        color: black;
        pointer-events: none;
        transition: all 0.5s ease;
    }

    .line {
        display: block;
        width: 100%;
        height: 2px;
        background-image: linear-gradient(
            300deg,
            rgba(245, 116, 185, 1) 14.7%,
            rgba(89, 97, 223, 1) 88.7%
        );
    }

    .text-error {
        color: $main-color;
    }
}
