@use "../../scss/" as *;

.header {
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2001;
    transition: all 0.3s ease;

    &.shrink {
        height: $header-shrink-height;
        background-color: rgba(32, 32, 32, 0.9);
    }

    .header__wrap {
        @include flex(center, space-between);
        padding: 6px 40px;

        .logo {
            @include flex(center, center);
            flex-direction: column;

            img {
                width: 60px;
            }

            a {
                text-align: center;
                font-size: 1rem;
            }
        }

        .header__nav {
            @include flex(center, space-between);
            margin-left: 50px;
            font-size: 1.2rem;
            font-weight: 600;

            & > * ~ * {
                margin-left: 2.5rem;
            }

            a {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 2px;
                    width: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: $main-color;
                    transition: width 0.3s ease;
                }

                &.active::after,
                &:hover::after {
                    width: 100%;
                }
            }
        }

        span {
            display: flex;
            flex: 1;
        }

        .search {
            @include flex(center, center);
            cursor: pointer;

            i {
                margin-right: 3rem;
                padding: 5px;
                color: $white;
                font-size: 2.2rem;
                line-height: 2.2rem;
                text-align: center;
                font-weight: 700;
                background-color: transparent;
                transition: color 0.3s ease;

                &:hover {
                    color: $main-color;
                    text-shadow: 0 0 8px #eb0147;
                }
            }
        }
    }
}
