@use "../../scss/"as *;

.header {
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2001;
    transition: all 0.3s ease;

    &.shrink {
        height: $header-shrink-height;
        background-color: rgba(32, 32, 32, 0.9);
    }

    .header__wrap {
        @include flex(center, space-between);
        padding: 6px 40px;

        .logo {
            @include flex(center, center);
            flex-direction: column;

            img {
                width: 60px;
            }

            a {
                text-align: center;
                font-size: 1rem;
            }
        }

        .header__nav {
            @include flex(center, space-between);
            margin-left: 50px;
            font-size: 1.2rem;
            font-weight: 600;

            &>*~* {
                margin-left: 2.5rem;
            }

            li {
                position: relative;

                a::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 2px;
                    width: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: $main-color;
                    transition: width 0.3s ease;
                }

                &.active a::after,
                a:hover::after {
                    width: 100%;
                }
            }


        }

        span {
            display: flex;
            flex: 1;
        }

        .search {
            @include flex(center, center);
            cursor: pointer;

            i {
                margin-right: 3rem;
                padding: 5px;
                color: $white;
                font-size: 2.2rem;
                line-height: 2.2rem;
                text-align: center;
                font-weight: 700;
                background-color: transparent;
                transition: color 0.3s ease;

                &:hover {
                    color: $main-color;
                    text-shadow: 0 0 8px #eb0147;
                }
            }
        }
    }
}

#auth-modal{
    .modal__content{
        padding: 0;
        border-radius: $border-radius;

        &__close{
            top: 8px;
            right: 8px;
            z-index: 2001;
            font-size: 2rem;
        }
    }
}

.auth-modal__background {
    @include flex(center, center);
    position: relative;
    width: auto;
    height: 400px;
    border-radius: $border-radius;
    background-image: linear-gradient(64.5deg,
            rgba(245, 116, 185, 1) 14.7%,
            rgba(89, 97, 223, 1) 88.7%);

    .box {
        width: 50%;
        height: 100%;
        @include flex(center, center);
        flex-direction: column;
    }

    .formBx {
        position: absolute;
        @include flex(flex-start, center);
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: $border-radius;
        background-color: white;
        transition: all 0.5s ease;

        .form {
            @include flex(flex-start, flex-start);
            flex-direction: column;
            padding: 1rem 2rem;
            width: 100%;

            h3 {
                color: black;
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 1.5rem;
            }

            form {
                width: 100%;

                .form-group {
                    margin-bottom: 2rem;
                    position: relative;

                    input {
                        width: 100%;
                        background-color: white;
                        border: none;
                        border-radius: 0;
                        outline: none;
                        padding: 0.5rem 0;
                        color: black;
                        font-weight: 500;

                        &:focus~label,
                        &:valid~label {
                            top: -16px;
                            color: rgb(32, 221, 250);
                            font-size: 0.9rem;
                        }
                    }

                    label {
                        position: absolute;
                        top: 0;
                        left: 0;
                        color: black;
                        pointer-events: none;
                        transition: all 0.5s ease;
                    }

                    span {
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-image: linear-gradient(64.5deg,
                                rgba(245, 116, 185, 1) 14.7%,
                                rgba(89, 97, 223, 1) 88.7%);
                    }
                }

                button {
                    background-image: linear-gradient(64.5deg,
                            rgba(245, 116, 185, 1) 14.7%,
                            rgba(89, 97, 223, 1) 88.7%);
                    width: 100%;
                    height: 2.4rem;
                    line-height: 2.4rem;
                    border-radius: 5px;
                    border: none;
                    font-size: 1rem;
                    font-weight: 500;
                    color: white;

                    i {
                        float: right;
                        margin-right: 1rem;
                        font-size: 1.5rem;
                        line-height: 2.4rem;
                    }
                }

                .socials {
                    h4 {
                        color: #ccc;
                        text-align: center;
                        width: 100%;
                        font-size: 0.9rem;
                        font-weight: 400;
                        margin: 5px 0px;
                    }

                    .social {
                        width: 100%;
                        height: 2.4rem;
                        line-height: 2.4rem;
                        font-size: 1rem;
                        border-radius: 5px;
                        background-color: #ccc;
                        padding-left: 1.5rem;

                        i {
                            float: left;
                            margin-right: 1rem;
                            font-size: 1.5rem;
                            line-height: 2.4rem;
                        }
                    }

                    .facebook {
                        background-image: linear-gradient(90deg, rgba(#136ea3, 1) 11.2%, rgba(#4ab3f8, 1) 91.1%);
                        margin-bottom: 5px;
                    }

                    .twitter {
                        background-image: linear-gradient(90deg, rgba(#26B6D1, 1) 24.3%, rgba(#5EE6E4, 1) 78.3%);
                    }
                }
            }
        }
    }

    &.active {
        background-image: linear-gradient(180deg, rgba(255, 157, 129, 1) 24.3%, rgba(255, 78, 78, 1) 78.3%);

        .formBx {
            left: 50%;
        }
    }

}