@use "../../scss/" as *;

.loading-background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    @include flex(center, center);

    .loading {
        i {
            font-size: 80px;
        }
        animation: spinner 1.5s linear infinite;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
