$body-bg: #0f0f0f;
$main-color: #ff0000;
$text-color: #fff;

$white: #fff;

$box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0px;

$header-height: 7rem;
$header-shrink-height: 6rem;
$border-radius: 30px;

$mobile-width: 740px;
$tablet-width: 1024px;

$font-family: "Rubik", sans-serif;
